<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ECF2F47E2018B21900BE303E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF2F4962018B21900BE303E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECF2F4A12018B21900BE303E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
